*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
    margin: 0;
}

header {
    background-color: #ffffff;
    padding: 20px 0;
    border-bottom: 1px solid #e7e9fc;
}

img {
    display: block;
    width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    display: inline-block;
    margin-right: 76px;
}

.logo-text {
    color: #2e2f42;
}

.logo-color {
    color: #f4f4fd;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-left: 76px;
}

.nav-link {
    text-decoration: none;
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.header {
    padding: 24px 0;
}

.container {
    box-sizing: border-box;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0;
    margin-right: 0;
    margin: 0 auto;
}


.container-portfolio {
    /* padding: 32px 16px; */
    
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.second-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.page-nav {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

.address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

address a {
    color: #434455;
    font-weight: 400;
}

address a:hover,
address a:focus {
    color: #404BBF;
}

.contacts-link {
    letter-spacing: 0.02em;
}

.one {
    padding: 120px 0;
}

.one-hero {
    display: flex;
    align-items: center;
    background-color: #2E2F42;
    padding: 188px 0;
}

.one-name {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.one-type {
    display: block;
    color: #ffffff;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    margin-right: auto;
    margin-left: auto;
}

.one-type:hover,
.one-type:focus {
    background-color: #404BBF;
}

.two {
    padding: 120px 0;
}

.spdt {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.spdt-list {
    width: calc((100% - 72px) / 4);
}

.two-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.two-text {
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.container-name {
    padding: 32px 0
}

.three {
    background-color: #F4F4FD;
}

.format {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.four .three-name {
    padding-bottom: 72px 0;
}

.three-hero {
    display: flex;
    padding: 120px 0;
    text-align: center;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-border {
    width: calc((100% - 48px) / 3);
}



.portfolio-format {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.three-name {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.three-text {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
}

.three-h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.three-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.four {
    padding: 32px 16px;
    padding-top: 120px;
    padding-bottom: 120px;
    padding: 120px 0 120px 0
}

.four-h2 {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.four-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.four-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.logo-color {
    color: #f4f4fd;
}

.logo-footer {
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    display: inline-block;
    margin-right: 76px;
}

.foot-p {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    text-transform: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    display: block;
    padding-top: 16px;
    max-width: 300px;
}

footer {
    background-color: #2E2F42;
}

.foot-style {
    padding: 100px 0;
}